main{
  min-height: 90vh;
}

h3{
  padding: 1rem 0;
}

.rating span{
  margin: 0.1.rem;  
}

.gBack{
  background: radial-gradient(circle closest-side at center, rgba(64, 64, 64, 1) 0%, rgba(39, 43, 48, 1) 100%);
}