main{
  min-height: 85vh;
}

h3{
  padding: 1rem 0;
}

.rating span{
  margin: 0.1.rem;  
}

.gBack{
  background: radial-gradient(circle closest-side at center, rgba(64, 64, 64, 1) 0%, rgba(39, 43, 48, 1) 100%);
}

.gaasset-description{
  max-height: 600px;
  overflow: auto;
}

/*============= Scrollbar override========================*/
::-webkit-scrollbar {
  width: 10px;
  /* Set scrollbar width */
  scrollbar-width: thin;
  /* FIREFOX  */
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #EAA000;
  /* Set thumb background color */
  scrollbar-color: #ff0000 transparent;
  /* FIREFOX */
  border-radius: 6px;
  /* Rounded corners for thumb */
}